@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("../fonts/Gilroylight.woff2") format("woff2"),
    url("../fonts/Gilroylight.woff") format("woff"),
    url("../fonts/Gilroylight.ttf") format("truetype");
}
@font-face {
  font-weight: 800;
  font-family: "Gilroy - Extra Bold";
  font-style: normal;

  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
    url("../fonts/Gilroyextrabold.woff2") format("woff2"),
    url("../fonts/Gilroyextrabold.woff") format("woff"),
    url("../fonts/Gilroyextrabold.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
/* .container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20;
} */
.header {
  min-height: 300px;
  background-color: #f8e296;
}
.header__title {
  margin: 0;
  padding: 0;
}
.header__link {
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  font-family: "Gilroy - Extra Bold", "Helvetica", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.header__link:hover {
  opacity: 0.6;
}
.header__link:active {
  opacity: 0.3;
}
.form-search label {
  font-size: 0;
}
.form-search input[type="text"] {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;

  background-color: transparent;
  border: none;
  opacity: 0.3;
}
.form-search input[type="text"]:focus {
  opacity: 0.6;
}
.form-search__link {
  width: 85px;
  height: 49px;
  background-color: transparent;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  color: #000000;
  text-decoration: none;
  border: 2px solid #000000;
  cursor: pointer;
}
.form-search__link:hover {
  color: #ffffff;

  background-color: #000000;
}
.form-search__link:active {
  color: #424242;

  background-color: #000000;
}
.user-block__link {
  display: inline-block;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}
.user-block__link:hover,
.user-block__link:focus {
  opacity: 0.6;
}
.user-block__link:active {
  opacity: 0.3;
}
.catalog {
  margin: 0;
  padding: 0;

  list-style: none;
}
.catalog__link {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy - Extra Bold", "Helvetica", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;
}
.catalog__link:hover,
.catalog__link:focus {
  opacity: 0.6;
}
.catalog__link:active {
  opacity: 0.3;
}
.category {
  margin: 0;
  padding: 0;

  list-style: none;
}
.category__link {
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: initial;
  text-decoration: none;
}
.category__link:hover,
.category__link:focus {
  opacity: 0.6;
}
.category__link:active {
  opacity: 0.3;
}
.services {
  margin: 0;
  padding: 0;

  list-style: none;
}
.services__link {
  display: inline-block;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy - Extra Bold", "Helvetica", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;
}
.services__link:hover,
.services__link:focus {
  opacity: 0.6;
}
.services__link:active {
  opacity: 0.3;
}

.title {
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy - Extra Bold", "Helvetica", sans-serif;
  color: #000000;
}
.description {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}
.link {
  display: inline-block;
  padding: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy - Extra Bold", "Helvetica", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.15px;
  background-color: transparent;
  border: none;
}
.characteristics__item {
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  color: #000000;
  letter-spacing: 0.36px;
}
.characteristics__title {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #464646;
}
.goods-category__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.goods-category__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 160px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  background-color: #f8e296;
}
.goods-category__link--bottom-pic {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.goods-category__link:hover,
.goods-category__link:focus {
  background-color: #f0c52e;
}
.goods-category__link:active > .goods-category__pic,
.goods-category__link:active ~ .title-item {
  opacity: 0.3;
}
.title-item {
  margin: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy - Extra Bold", "Helvetica", sans-serif;
  color: #000000;
}
.title-item a {
  display: inline-block;
  color: #000000;
  text-decoration: none;
}
.services-slider {
  color: #000000;
  min-height: 288px;
  background-color: #e5e5e5;
}
.logo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.vendors__pic {
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(100%);
}
.vendors__pic:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
}
.partners {
  margin: 0;
  padding: 0;

  list-style: none;
}
.partners__item {
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy - Extra Bold", "Helvetica", sans-serif;
  color: #000000;
}
.footer {
  color: #ffffff;

  background-color: #464646;
}
.footer__title {
  margin: 0;
  padding: 0;
}
.footer__link {
  font-weight: 800;
  font-size: 48px;
  font-family: "Gilroy - Extra Bold", "Helvetica", sans-serif;
  color: #ffc600;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.footer__link:hover,
.footer__link:focus {
  opacity: 0.6;
}
.footer__link:active {
  opacity: 0.3;
}
.footer .user-block__link {
  color: #ffffff;
  opacity: 0.7;
}
.footer .user-block__link:hover,
.footer .user-block__link:focus {
  opacity: 1;
}
.footer .user-block__link:active {
  opacity: 0.3;
}
.address-company {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}
.footer .services__link {
  color: #ffffff;
}
.company__phone,
.company__phone a {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}
.company__phone a {
  text-decoration: none;
}
.social {
  margin: 0;
  padding: 0;

  list-style: none;
}
.social__item {
  width: 32px;
  height: 32px;

  background-color: #7e7e7e;
  border-radius: 50%;
}
.social__item a {
  display: inline-block;
  width: 32px;
  height: 32px;

  font-size: 0;
}
.copyright {
  font-size: 0;
}
.btn-close {
  width: 55px;
  height: 55px;

  font-size: 0;

  background-color: #f7e296;
  border: none;
  border-radius: 50%;
}
.title-field {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy - Extra Bold", "Helvetica", sans-serif;
  color: #000000;
}
.popup-write-us__form input,
textarea {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
  opacity: 0.5;
  padding-left: 20px;
  background-color: #f2f2f2;
  border: none;
}
.popup-write-us__form input {
  width: 360px;
  height: 50px;
}
.popup-write-us__form textarea {
  width: 760px;
  height: 156px;
  padding-top: 18px;
}
.popup-write-us__form input:hover,
.popup-write-us__form textarea:hover {
  opacity: 0.8;
}
.popup-write-us__form input:focus {
  width: 354px;
  height: 44px;
  padding-left: 17px;
  border: 3px solid #f0c52e;
  background-color: #ffffff;
  opacity: 0.5;
  outline: none;
}
.popup-write-us__form textarea:focus {
  width: 754px;
  height: 150px;
  padding-top: 15px;
  padding-left: 17px;
  border: 3px solid #f0c52e;
  background-color: #ffffff;
  opacity: 0.5;
  outline: none;
}
.popup-write-us__form input:invalid {
  background-color: #edb5b5;
  opacity: 0.5;
}
.popup-write-us__form .link {
  background-color: transparent;
  border: none;
}
.popup-map .btn-close {
  opacity: 0.5;
}
.map-pic {
  -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}
/* Стили для страницы каталога - Моноподы для селфи */
.inner-page .header__link {
  color: #000000;
}
.subtitle-page {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 47px;
  font-family: "Gilroy - Extra Bold", "Helvetica", sans-serif;
  font-weight: 800;
  line-height: 48px;
}
.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumbs__link {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.3;
  line-height: 24px;
}
.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  opacity: 0.6;
}
.breadcrumbs__link:active {
  opacity: 0.1;
}
.filter {
  width: 468px;
  background-color: #eeeeee;
  padding-left: 199px;
}
.filter__title {
  color: #000000;
  font-size: 16px;
  margin-left: -199px;
  padding-left: 199px;
  font-family: "Gilroy - Extra Bold", "Helvetica", sans-serif;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
  background-color: #dcdcdc;
}
.settings__block {
  margin: 0;
  padding: 0;
  border: none;
}
.settings__title {
  color: #000000;
  font-size: 18px;
  font-family: "Gilroy - Extra Bold", "Helvetica", sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
}
.settings__block:nth-child(2) label {
  color: #000000;
  font-size: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.14px;
}
/* .settings__block:nth-child(2) label:hover::before,
.settings__block:nth-child(2) label:focus::before {
  opacity: 0.6;
} */
.parameters {
  background-color: #ebebeb;
}
.parameters__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 16px;
  font-family: "Gilroy - Extra Bold", "Helvetica", sans-serif;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}
.parameters__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.parameters__link {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.3;
  cursor: pointer;
}
.parameters__link:hover,
.parameters__link:focus {
  opacity: 0.6;
}
.parameters__link:active {
  opacity: 1;
}
.parameters__link--current,
.parameters__link:hover,
.parameters__link:focus {
  opacity: 1;
}
.parameters__link--current {
  cursor: default;
}
.parameters__arrow {
  opacity: 0.2;
}
.parameters__arrow:hover,
.parameters__arrow:focus {
  opacity: 0.4;
}
.parameters__arrow:active {
  opacity: 1;
}
.goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.goods__cost {
  color: #464646;
  font-size: 16px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  font-weight: 300;
  line-height: 24px;
}
.link-compare {
  color: #000000;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  opacity: 0.5;
  text-transform: initial;
  font-family: "Open Sans", "Arial", sans-serif;
  letter-spacing: 0.13px;
}
.link-compare:hover,
.link-compare:focus {
  opacity: 1;
}
.link-compare:active {
  opacity: 0.2;
}
.pagination__back,
.pagination__next {
  display: inline-block;
  min-height: 70px;
  color: #000000;
  padding-top: 30px;
  vertical-align: middle;
  font-size: 16px;
  font-family: "Gilroy - Extra Bold", "Helvetica", sans-serif;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}
.pagination__back {
  padding-left: 30px;
}
.pagination__next {
  padding-right: 30px;
}
.pagination__back:hover,
.pagination__back:focus {
  padding-right: 30px;
  background-color: #d8d8d8;
}
.pagination__next:hover,
.pagination__next:focus {
  padding-left: 30px;
  background-color: #d8d8d8;
}
.pagination__back:active,
.pagination__next:active {
  color: #979797;
}
.pagination__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagination__link {
  color: #000000;
  font-size: 16px;
  font-family: "Gilroy - Extra Bold", "Helvetica", sans-serif;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
  opacity: 0.3;
}
.pagination__link:hover,
.pagination__link:focus {
  opacity: 0.6;
}
.pagination__link:active {
  opacity: 1;
}
.pagination__link--current,
.pagination__link--current:hover,
.pagination__link--current:focus {
  cursor: default;
  opacity: 1;
}
.user-block__entry .user-block__link:nth-child(2) {
  opacity: 0.3;
}
.active {
  opacity: 1;
}
/* Задание на макро-разметку */
/* body {
  padding-top: 40px;
}
.header {
  padding: 0 60px;
}
.header__title {
  display: inline-block;
  margin-top: -19px;
}
.form-search label {
  padding-left: 40px;
}
.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 29px;
}
.user-block__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 500px;
  margin-left: auto;
}
.user-block__link {
  min-width: 100px;
  margin-left: 20px;
}
.user-block__link:first-child {
  margin-left: 0;
}
.catalog__title {
  position: relative;
}
.catalog__wrapper {
  position: absolute;
  margin-left: -60px;
  padding-left: 60px;
  width: 1100px;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 32px;
  background-color: #f8e296;
}
.category {
  width: 200px;
  margin-right: 40px;
}
.catalog__title:hover > .catalog__wrapper {
  visibility: visible;
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 29px;
}
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  margin-left: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.services__item {
  width: 160px;
}
.services__item:last-child {
  margin-left: auto;
}
.promo-slider .container {
  margin-top: -112px;
  height: 500px;
}
.controls-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 80px;
}
.controls-promo label {
  font-size: 0;
  position: relative;
  top: 340px;
  left: 990px;
  width: 12px;
  height: 12px;
  border: 1px solid #000000;
  border-radius: 50%;
}
.controls-promo label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}
.promo-slider input[type="radio"] {
  display: none;
}
.promo-slide1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 90px;
  padding-right: 60px;
}
.promo-slide2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 115px;
  padding-right: 60px;
}
.promo-slide3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  padding-right: 60px;
}
.slide-content {
  width: 500px;
  margin-left: auto;
}
.slide-content .title {
  margin-top: 77px;
}
.slide-content .description {
  margin-top: 20px;
  padding-right: 20px;
}
.slide-content .link {
  margin-top: 52px;
  padding-left: 44px;
}
.characteristics {
  margin-top: 62px;
}
.characteristics__item,
.characteristics__title {
  min-width: 160px;
  text-align: left;
}
.characteristics__item:nth-child(2),
.characteristics__title:nth-child(2) {
  min-width: 140px;
}
.promo-slide1 {
  display: none;
}
.promo-slide2 {
  display: none;
}
.promo-slide3 {
  display: none;
}
input[id="promo-slider__slide1"]:checked
  ~ .controls-promo
  label[for="promo-slider__slide1"]::before,
input[id="promo-slider__slide2"]:checked
  ~ .controls-promo
  label[for="promo-slider__slide2"]::before,
input[id="promo-slider__slide3"]:checked
  ~ .controls-promo
  label[for="promo-slider__slide3"]::before {
  border: 1px solid #000000;
}
input[id="promo-slider__slide1"]:checked ~ .promo-slide1,
input[id="promo-slider__slide2"]:checked ~ .promo-slide2,
input[id="promo-slider__slide3"]:checked ~ .promo-slide3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.goods-category {
  padding-top: 106px;
  padding-bottom: 181px;
}
.goods-category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.goods-category__item {
  width: 160px;
}
.title-item a {
  margin-top: 36px;
}
.vendors {
  padding-top: 94px;
  padding-bottom: 93px;
}
.logo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.company-block .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.company-block {
  padding-bottom: 93px;
}
.about {
  width: 475px;
}
.about .title {
  margin-top: 50px;
}
.about .description {
  margin-top: 50px;
}
.about .description:nth-child(3) {
  margin-top: 30px;
}
.partners {
  margin-top: 80px;
  padding-left: 35px;
}
.about .link {
  margin-top: 65px;
  padding-left: 23px;
}
.contacts {
  width: 560px;
  margin-left: auto;
}
.contacts .title {
  margin-top: 50px;
}
.contacts .description {
  margin-top: 50px;
}
.map-pic {
  margin-top: 37px;
}
.contacts .link {
  margin-top: 83px;
  padding-left: 40px;
}
.footer {
  padding-top: 65px;
  padding-bottom: 67px;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer .user-block__options {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.footer .user-block__link {
  text-align: right;
  margin-left: 40px;
}
.footer__row:nth-child(2) {
  margin-top: 38px;
}
.footer .services {
  margin: 0;
}
.footer .services__item:last-child {
  margin: 0;
}
.footer__row:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 67px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 160px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.visually-hidden {
  display: none;
  /* width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
  padding: 0;
  white-space: nowrap; */
} */
